@page
@model ReservationsModel
@{
    ViewData["Title"] = "Rezervacijos";
}
@{
   Layout = "_LayoutClient";
}

@{ 
    Model.GetReservations();
}

<div class="text-center">
    <h1 class="display-4">Rezervacijos</h1>
    <center>
        <table class="table-striped" style="width:80%; justify-content:center; text-align:center;">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Kambario Nr.</th>
                    <th>Nuo</th>
                    <th>Iki</th>
                    <th>Rezervacios būsena</th>
                    <th>Atšaukti rezervaciją</th>
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model.reservations.Count == 0)
                    {
                        <tr><td colspan="6">Neturite rezervacijų</td></tr>
                    }
                }
                @{
                    for (int i = 0; i < Model.reservations.Count; i++)
                    {
                        <tr>
                            <td>@Model.reservations[i].ID</td>
                            <td>@Model.reservations[i].RoomNumber</td>
                            <td>@Model.reservations[i].Starts.ToString("yyyy/MM/dd")</td>
                            <td>@Model.reservations[i].Ends.ToString("yyyy/MM/dd")</td>
                            <td>@Model.reservations[i].Status</td>
                            <td><a asp-area="" asp-page="/Clients/Cancelreservation" asp-route-ID="@Model.reservations[i].ID"><input type="button" value="Atšaukti" /></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </center>
</div>
