@page
@model PayBillCashModel
@{
    ViewData["Title"] = "Rezervacijos atšaukimas";
}
@{
    Layout = "_LayoutRegistrationWorkers";
}

@if (Model.bill != null)
{
    <div class="text-center">
        <h1 class="display-4">Sąskaitos apmokėjimas</h1>
        <h3>Sąsakitos duomenys</h3>
        <center>
            <div class="col-sm-4" style="vertical-align:middle;">
                <table >
                    <tr>
                        <th>Kliento vardas:</th>
                        <th></th>
                        <td>@Model.bill.ClientName</td>
                    </tr>
                    <tr>
                        <th>Kliento pavardė:</th>
                        <th></th>
                        <td>@Model.bill.ClientSurName</td>
                    </tr>
                    <tr>
                        <th>Sąskaitos Nr.</th>
                        <th></th>
                        <td>@Model.bill.ID</td>
                    </tr>
                    <tr>
                        <th>Sudarymo data</th>
                        <th></th>
                        <td>@Model.bill.Date.ToString("yyyy/MM/dd")</td>
                    </tr>
                    <tr>
                        <th>Suma</th>
                        <th></th>
                        <td>@Model.bill.Sum</td>
                    </tr>
                </table>
                <br />
                <b>
                    Įveskite gautą sumą
                </b>


            </div>
            <table>
                <tr>
                    <td>
                        <form asp-page-handler="button" asp-route-ID="@Model.sid" asp-route-ID2="@Model.sum" asp-route-ID3="@Model.err" asp-route-ID4="@Model.bill.ReservationId" method="post">
                            <input type="number" name="suma" min="0" required />
                            <button class="btn btn-success">Apmokėti</button>
                        </form>
                    </td>
                    <td>
                        <a asp-page="/Registration/RegBillsindex"><input type="submit" class="btn btn-danger" value="Atšaukti" /></a>
                    </td>
                    @if (@Model.err == "1")
                    {
                        <h7>Suma per maža</h7>
                    }
                </tr>
            </table>
        </center>
    </div>
}