@page 
@model RegClientsindexModel
@{
    ViewData["Title"] = "Pagrindinis langas";
}
@{
    Layout = "_LayoutRegistrationWorkers";
}

@{
    Model.GetClients();
}

<div class="text-center">
    <h1 class="display-4">Klientai</h1>
    <center>
        <table class="table-striped" style="width:80%; justify-content:center; text-align:center;">
            <thead>
                <tr>
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>Gimimo data</th>
                    <th>Tel. Nr.</th>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.klientai.Count == 0)
                    {
                        <tr><td colspan="5">Neturite kamberių</td></tr>
                    }
                }
                @{
                    for (int i = 0; i < Model.klientai.Count; i++)
                    {
                        <tr>
                            <td>@Model.klientai[i].Name</td>
                            <td>@Model.klientai[i].Surname</td>
                            <td>@Model.klientai[i].Birth.ToString("yyyy/MM/dd")</td>
                            <td>@Model.klientai[i].Phone</td>
                            <td><a asp-page="/Registration/RegClientRezervations" asp-route-ID="@Model.klientai[i].id"><input type="button" class="btn btn-success" value="Peržiūrėti rezervacijas" /></a></td>
                        </tr>
                    }
                }
            </tbody>
            </table>
    </center>
</div>